body{
  background-color: #FFE66D !important;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: center;
  font-family: 'Baloo Chettan', cursive;
}

.dimension-input-container{
  display: flex;
  justify-content: center;
  width: 90%;
  background-color: #5DD39E;
  border-radius: 10px;
  margin-top: 30px;
  flex-direction: row;
  padding: 10px 15px 10px 15px;
}

.input{
  border-radius: 10px;
  background-color: rgba(255,255,255,.5);
  border: 0;
  padding-right: 10px;
  height: 44px;
  width: 5%;
  font-size: 23px;
  text-align: right;
  margin: auto 10px auto 10px;
  font-family: 'Baloo Chettan', cursive;
  color: mediumvioletred;
}

.input-btn{
  font-size: 23px;
  width: 44px;
  height: 44px;
  border-radius: 10px;
  border: 0;
  color: #333;
  margin: auto 5px auto 5px;
  background-color: #FE5F55;
}

.btn-op{
  background-color: greenyellow;
}

.input-btn:disabled {
  color: #d6d6d6;
  background-color: #868686;
}

.input-btn:hover:enabled{
  background-color: #FF8980;
}

.btn-op:hover:enabled{
  background-color: #CAFF7A;
}

.input-btn:active:enabled{
  background-color: #E25046;
}

.btn-op:active:enabled{
  background-color: #83D00F;
}

.input:hover, .input:focus, .input-btn:hover, .input-btn:focus{
  outline: 0;
}

.label{
  font-size: 25px;
  margin: auto 0 auto 0;
  color: #333;
}

.values-input-container{
  /* display: flex; */
  width: 90%;
  display: none;
  /* background-color: rgba(0,0,0,5%); */
  border-radius: 10px;
  margin-top: 0px;
  padding: 5px 15px 5px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matrix-container{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 60%;
  /* background-color: rgba(0,0,0,5%); */
  border-radius: 10px;
  padding: 25px 15px 5px 15px;
  margin: 0px auto 0 auto;
  align-items: center;
  justify-content: center;
}

.input-matrix-container{
  display: flex;
  width: 100%;
  align-items: center;
}

.matA, .matB, .matR{
  display: inline-block;
  background-color: mediumvioletred;
  border-radius: 10px;
  padding: 10px;
  font-size: 0;
}

.matValue.input{
  color: #673AB7;
}

.matA .input, .matB .input, .matR .input{
  margin: 1px;
  width: 38px;
  height: 48px;
}

.line-break{
}

.results-container{
  display: none;
  align-items: center;
  flex-flow: column;
  width: 90%;
  margin: 0 40px 40px 40px;
}

.separator{
  width: 100%;
  height: 10px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 40px;
}

.label-result, .label-inputmats{
  margin-top: 20px;
  font-size: 40px;
}

.info-container{
  font-family: 'Kalam', sans-serif;
  font-size: 30px;
  color: rgba(0,0,0,.7);
  margin: 60px 30px 30px 30px;
  text-align: center;
  font-weight: bold;
}

.o-list{
  font-size: 22px;
  font-weight: bold;
  text-align: justify;
  padding-right: 20px;
}

.u-list{
  font-weight: normal;
  text-align: justify;
  list-style-type: disc;
}

.inst-btn{
  margin-left: 10px;
  width: 35px;
  height: 35px;
  font-size: 20px;
}

@media only screen and (max-width: 880px) {
  .dimension-input-container{
    flex-direction: column;
    text-align: center;
  }

  .inputs-ctnr{
    display: inline-block !important;
  }

  .inputs-ctnr .input{
    width: 20%;
  }

  .inputs-ctnr:not(:last-child){
    margin-bottom: 10px !important;
  }

  .inputs-ctnr span, button:nth-child(1){
    margin-left: 0 !important;
  }
}

body::-webkit-scrollbar-track
{
  border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  border-radius: 15px;
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  border-radius: 15px;
	background-color: #ff4081;
}

/*B892FF PALE VIOLET*/
